.top-left       { background-position: left     top     !important; background-size: cover !important; background-repeat: no-repeat !important;}
.top-center     { background-position: center   top     !important; background-size: cover !important; background-repeat: no-repeat !important;}
.top-right      { background-position: right    top     !important; background-size: cover !important; background-repeat: no-repeat !important;}
.middle-left    { background-position: left     center  !important; background-size: cover !important; background-repeat: no-repeat !important;}
.middle-center  { background-position: center   center  !important; background-size: cover !important; background-repeat: no-repeat !important;}
.middle-right   { background-position: right    center  !important; background-size: cover !important; background-repeat: no-repeat !important;}
.bottom-left    { background-position: left     bottom  !important; background-size: cover !important; background-repeat: no-repeat !important;}
.bottom-center  { background-position: center   bottom  !important; background-size: cover !important; background-repeat: no-repeat !important;}
.bottom-right   { background-position: right    bottom  !important; background-size: cover !important; background-repeat: no-repeat !important;}