.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 20px 24px;
    width: 137px;
    height: 44px;
    color: #ffffff;
    background-color: #000;
    font-family: $nexab;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background-color .7s ease;

    &--accent {
        background-color: $accent;

        &:hover {
            background-color: #000 !important;
        }
    }

    &:hover {
        background: $accent;
    }
}
