* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 26px;
    line-height: 42px;
    text-transform: capitalize;

    @include media($m) {
        font-size: 32px;
    }
}

p {
    font-family: $ralw;
    font-size: 16px;
    line-height: 28px;
}


body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $nexab;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    font-family: inherit;
}

input, textarea {
    &:focus {
        outline: none;
    }
}