.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.wrap {
    max-width: 1020px;
    margin: auto;

    &--left {
        margin: 0;
    }
}

.wrap-content {
    max-width: 100%;
    @include media($s) {
        max-width: 430px;
        margin-left: auto;
    }
}