$menu_move: cubic-bezier(.25,.11,.11,.82);

$xs:				480px;
$s:					768px;
$m:					970px;
$l:					1024px; 
$xl:				1280px;
$xxl:				1600px;

$content: 1130px; 
$unit: 16px;
$pd: 74px 38px;
$pdl: 160px 125px 106px;
$accent: #ff4a42;

$ralw: 'Raleway', sans-serif;
$nexab: 'NexaBold', sans-serif;

/* FONTS */
// @include font-face("FontAwesome", "../fonts/fontawesome-webfont");
// @font-face {
// 	font-family: BentonSans-Book;
// 	src: url('../fonts/BentonSans-Book.otf') format('opentype');
// }

$fa: 	'FontAwesome';
$def: "Montserrat", sans-serif;
$head-font: "BoutiqueScript", sans-serif;


/* COLORS */ 
