body {
    font-family: $ralw;
}

.top {
    background-image: url(../media/bg/first-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &__bg {
        /*background-image: url(../media/bg/first-bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;*/
    }
}

.top {
    display: flex;
    align-items: center;
    height: 90%;
    background-position: center top;
    padding: $pd;
    @include media($m) {
        padding: $pdl;
    }

    &-container {
        position: relative;
        max-width: 720px;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        filter: blur(10px);
    }

    &__item {
        position: relative;
        z-index: 100;
        padding: 42px 34px;
        @include media($l) {

            padding: 79px;
        }
        background: rgba(255, 255, 255, 0.53);
        border-bottom: 15px solid $accent;

        h1 {
            font-size: 44px;
            line-height: 40px;
            @include media($m) {
                font-size: 90px;
                line-height: 90px;
            }
            text-transform: capitalize;
        }

        & > span {
            display: block;
            margin-top: 10px;
            @include media($s) {
                margin-top: 20px;
            }
            font-family: $ralw;
            font-size: 17px;
            line-height: 1.75;

            @include media($m) {
                font-size: 22px;
            }
            &:first-letter {
                text-transform: uppercase;
            }
        }
    }

    .btn {
        margin-top: 35px;
        @include media($s) {
            margin-top: 40px;
        }
    }
    &__select {
        padding-top: 30px;

        @include media($s) {
            padding-top: 40px;
        }

        span {
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 6px;
            border: 1px solid black;
            margin-right: 15px;
            cursor: pointer;
            box-sizing: border-box;
            transition: background-color 0.4s ease-out;

            &:hover {
                background: $accent;
                border: 1px solid transparent;
                transition: border 0.1s ease-out
            }
        }
    }
}

.full-width {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    //padding: $pd;
    padding: 74px 38px 50px;
    overflow-x: hidden;

    @include media($m) {
        padding: $pdl;
    }

    &:nth-child(2) {

    }

    &--black {
        padding: 106px 40px 70px;
        @include media($m) {
            padding: 223px 127px 173px;
        }

        h2, p {
            color: #ffffff;
        }
    }

    &__content {
        width: 100%;
        @include media($s) {
            width: 50%;
        }
        h2 {
            position: relative;
            &:before {
                position: absolute;
                top: -20px;
                left: 2px;
                right: -9999px;
                height: 4px;
                content: ' ';
                background: #ff4a42;

                @include media($s) {
                    top: -30px;
                    right: 100%;
                    width: 100%;
                }
            }
        }

        p {
            padding-top: 10px;
            padding-bottom: 37px;
        }

        ul {
            padding-bottom: 30px;
            li {
                font-family: $ralw;
                font-size: 16px;
                line-height: 34px;
                display: inline-block;
                width: 100%;

                @include media($s) {
                    width: 49%;
                }

                &:after {
                    content: '\00a9';
                }
            }
        }
        &--news {
            width: 100%;

            .news__date {
                display: block;
                color: #ffffff;
                line-height: 3;
            }

            h2 {
                color: #ffffff;
                margin-bottom: 55px;
                &:before {
                    @include media($s) {
                        width: 50%;
                    }
                }
            }
            .content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @include media($s) {
                    flex-wrap: nowrap;
                }
                article {
                    @include media($s) {
                        padding-right: 35px;
                    }
                    &:last-child {
                        a {
                            margin-bottom: 0;
                        }
                    }
                }
                header {
                    font-family: $nexab;
                    font-size: 17px;
                    line-height: 30px;
                    color: $accent;
                }
                section {
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: 1px;
                }
                footer {
                    a {
                        font-family: $nexab;
                        color: $accent;
                        text-transform: uppercase;
                        margin-top: 35px;
                        margin-bottom: 0;
                        display: block;

                    }
                }
            }
        }
    }

    &--half {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include media($s) {
            flex-wrap: nowrap;
        }

        .half-size {
            width: 100%;

            margin-bottom: 20px;
            @include media($s) {
                max-width: 50%;
                margin: 0;
            }

            min-height: 300px;
            @include media($s) {
                min-height: 590px;
            }

            background-position: center center;
            -webkit-background-size: cover;
            background-size: cover;
        }

        .full-width__content--history {
            padding: 57px 40px;
            @include media($m) {
                padding: 198px 0 104px 80px
            }

            h2 {
                &:before {
                    @include media($s) {
                        width: 157%;
                        left: -48%;
                    }
                }
            }
            &.wrap-content {
                margin: 0 auto 0 0;
            }
        }
    }
}

.news {
    padding-bottom: 184px;
    background-color: #363846;
}

.form {
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;

    input.btn {
        border: none;
        cursor: pointer;
        width: 138px;
    }

    &__wrapper {

    }

    &__item, &__bg {
        @include media(max-width $s) {
            min-width: 375px;
        }
        @include media(max-width $xs) {
            min-width: 290px;
        }
    }
    @include media($s) {
        flex-wrap: nowrap;
    }
    &__item {
        h2 {
            position: relative;
            margin-bottom: 38px;
            @include media($s) {
                margin-bottom: 46px;
            }
            &:before {
                position: absolute;
                content: ' ';
                height: 4px;
                background: #ff4a42;
                top: -20px;
                left: 2px;
                width: 142%;
            }
        }
        padding: $pd;
        @include media($m) {
            padding: $pdl;
            padding-right: 90px;
        }
        flex: 1 1 50%;

        input[type=text] {
            width: 100%;
            display: block;
            border: none;
            box-sizing: border-box;
            padding: 16px;
            text-transform: uppercase;
            background-color: #f2f2f2;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        input[type=submit] {
            margin-top: 45px;
        }

    }
    &__bg {
        width: 100%;
        min-height: 300px;
        flex: 1 1 50%;
        background-position: center center;
        background-size: cover;
    }
}
